<h2>Authorization Request</h2>
<p><a href="<%= @token.client_application.url %>"><%= @token.client_application.name %></a> (<a href="<%= @token.client_application.url%>"><%= @token.client_application.url %></a>) would like access to your account.</p>
<div id="auth-form">
  <form action='/oauth/authorize' method='POST'>
    <input type='hidden' name='oauth_token' value='<%= @token.token %>'/>
    <input type='hidden' name='authorize' value='1'/>
    <input type='submit' value='Allow'/>
  </form>
  <form action='/oauth/authorize' method='POST'>
    <input type='hidden' name='oauth_token' value='<%= @token.token %>'/>
    <input type='hidden' name='authorize' value='0'/>
    <input type='submit' value='Deny'/>
  </form>
</div>