<h2>OAuth Details for <%= @client_application.name %></h2>
<form action="/oauth_clients/<%= @client_application.id %>" method="POST">
  <input type="hidden" name="_method" value="PUT"/>
  <table>
    <tr>
      <td align="right"><label>Name:</label></td>
      <td><input type="text" name="name" value="<%= @client_application.name %>" size="40"/></td>
    </tr>
    <tr>
      <td align="right"><label>Main Application URL:</label></td>
      <td><input type="text" name="url" value="<%= @client_application.url %>" size="40"/></td>
    </tr>
    <tr>
      <td align="right"><label>Callback URL:</label></td>
      <td><input type="text" name="callback_url" value="<%= @client_application.callback_url %>" size="40"/></td>
    </tr>
    <tr>
      <td align="right"><label>Support URL:</label></td>
      <td><input type="text" name="support_url" value="<%= @client_application.support_url %>" size="40"/></td>
    </tr>
    <tr>
      <td align="right"><label>Consumer Key:</label></td>
      <td class="oauth-data"><%= @client_application.key %></td>
    </tr>
    <tr>
      <td align="right"><label>Consumer Secret:</label></td>
      <td class="oauth-data"><%= @client_application.secret %></td>
    </tr>
    <tr>
      <td align="right"><label>Request Token URL:</label></td>
      <td class="oauth-data"><%= trimmed_base_url %><%= @client_application.oauth_server.request_token_path %></td>
    </tr>
    <tr>
      <td align="right"><label>Access Token URL:</label></td>
      <td class="oauth-data"><%= trimmed_base_url %><%= @client_application.oauth_server.access_token_path %></td>
    </tr>
    <tr>
      <td align="right"><label>Authorize URL:</label></td>
      <td class="oauth-data"><%= trimmed_base_url %><%= @client_application.oauth_server.authorize_path %></td>
    </tr>
    <tr>
      <td>&nbsp;</td>
      <td><input type="submit" value="Save"/>&nbsp;<a href="/oauth_clients" class="cancel-link">Cancel</a>
  </table>
</form>