<h2>OAuth Details for <%= @client_application.name %></h2>
<table>
  <tr>
    <td align="right"><label>Name:</label></td>
    <td class="oauth-data"><%= @client_application.name %></td>
  </tr>
  <tr>
    <td align="right"><label>Main Application URL:</label></td>
    <td class="oauth-data"><%= @client_application.url %></td>
  </tr>
  <tr>
    <td align="right"><label>Callback URL:</label></td>
    <td class="oauth-data"><%= @client_application.callback_url %></td>
  </tr>
  <tr>
    <td align="right"><label>Support URL:</label></td>
    <td class="oauth-data"><%= @client_application.support_url %></td>
  </tr>
  <tr>
    <td align="right"><label>Consumer Key:</label></td>
    <td class="oauth-data"><%= @client_application.key %></td>
  </tr>
  <tr>
    <td align="right"><label>Consumer Secret:</label></td>
    <td class="oauth-data"><%= @client_application.secret %></td>
  </tr>
  <tr>
    <td align="right"><label>Request Token URL:</label></td>
    <td class="oauth-data"><%= trimmed_base_url %><%= @client_application.oauth_server.request_token_path %></td>
  </tr>
  <tr>
    <td align="right"><label>Access Token URL:</label></td>
    <td class="oauth-data"><%= trimmed_base_url %><%= @client_application.oauth_server.access_token_path %></td>
  </tr>
  <tr>
    <td align="right"><label>Authorize URL:</label></td>
    <td class="oauth-data"><%= trimmed_base_url %><%= @client_application.oauth_server.authorize_path %></td>
  </tr>
</table>

<p class="note"><strong>Note:</strong> Supported signature algorithms are HMAC-SHA1 and Plaintext over SSL.</p>

<div class="prompt">
  <a href="/oauth_clients">View All</a>
</div>